<div class="entete">
    <div class="enfant logo-img">
        <img src="./assets/logo-black.png" alt="" srcset="">
        <h1>Lukapay</h1>
    </div>
    <div class="enfant social-medias">
        <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-f"></i></a>
        <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-twitter"></i></a>
        <a href="#" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin-in"></i></a>
    </div>
</div>